/*
	Main
*/
* {
	--bs-body-font-family: AcherusgrotesqueRegular, serif
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/*
	Bootstrap colors
*/
.btn-outline-danger {
	--bs-btn-color: #00baba;
	--bs-btn-border-color: #00baba;
}

/*
	Fonts
*/
@font-face {
	font-family: AcherusgrotesqueRegular;
	src: url(../../fonts/acherusgrotesque-regular.otf);
}

/*
	Navbar
*/
nav#navbartop {
	div.navbar-fill {
		width: 15%;
		height: 70px;
	}

	a.navbar-brand {
	}
}

.navbar-toggler {
	width: 30px;
	height: 30px;
	padding: 0 !important;
	border: none !important;
	box-shadow: none !important;
	outline: none !important;
	position: relative;
	transition: 0.5s ease-in-out;
	display: flex;
	justify-content: center;

	span {
		margin: 0;
		padding: 0;

		&.toggler-icon {
			display: block;
			position: absolute;
			height: 2px;
			width: 100%;
			background-color: rgba(0,0,0,0.55);
			border-radius: 2px;
			left: 0;
			opacity: 1;
			transform: rotate(0deg);
			transition: 0.25s ease-in-out;

			&.middle-bar {
				margin-top: 0;
			}
		}

		&.top-bar {
			margin-top: 0;
			transform: rotate(135deg);
		}

		&.middle-bar {
			opacity: 0;
			filter: alpha(opacity=0);
		}

		&.bottom-bar {
			margin-top: 0;
			transform: rotate(-135deg);
		}
	}

	&.collapsed {
		span {
			&.toggler-icon {
				&.top-bar {
					margin-top: -20px;
					transform: rotate(0deg);
				}

				&.middle-bar {
					opacity: 1;
					filter: alpha(opacity=100);
				}

				&.bottom-bar {
					margin-top: 20px;
					transform: rotate(0deg);
				}
			}
		}
	}
}

/*
	Footer
*/
footer {
	position: relative;
	z-index: 999;

	div {
		a {
			i.footer-icon {
				text-decoration: none;
				transition: 0.5s;

				&:hover {
					color: #00baba !important;
				}
			}
		}
	}

	div.container {
		div.row {
			div {
				p {
					a.footer-text {
						text-decoration: none;
						transition: 0.5s;

						&:hover {
							color: #00baba !important;
						}
					}
				}

				div {
					margin-bottom: 16px;
				}
			}
		}
	}

	div.footer-copyright {
		background-color: rgba(0, 0, 0, 0.05);
		border-radius: 10px;

		a {
			text-decoration: none;
			transition: 0.5s;

			&:hover {
				color: #ff0000 !important;
			}
		}
	}
}

/*
	Index
*/
// Main
section#main {
	width: 100%;
	height: calc(100vh - 70px);
	background-size: cover;
	background: url("../../imgs/index/mainbackground.jpeg") no-repeat fixed;
	background-size: cover;
	position: relative;

	div.text-container {
		position: absolute;
		background-color: #f8f9fa;
		top: 30px;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;

		animation: anim 1s ease-in-out;

		@keyframes anim {
			from {
				transform: translateX(-120%);
			}
			to {
				transform: translateX(0);
			}
		}

		h1 {
			margin-bottom: 0;

			@media(min-width: 800px) {
				font-size: 72px;
			}
			@media(min-width: 500px) and (max-width: 799px) {
				font-size: 48px;
			}
			@media(min-width: 400px) and (max-width: 499px) {
				font-size: 36px;
			}
			@media(min-width: 350px) and (max-width: 399px) {
				font-size: 30px;
			}
			@media(max-width: 349px) {
				font-size: 24px;
			}
		}

		h4 {
			margin-bottom: 0;

			@media(max-width: 399px) {
				font-size: 18px;
			}
		}
	}
}

// About
section#about {
	width: 100%;
	position: relative;
	scroll-margin-top: 70px;

	@media(min-width: 800px) {
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 30%;
			height: 100%;
			background-color: #c7c7c7;
			clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
			z-index: -1
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			width: 200px;
			height: 200px;
			background-color: #c7c7c7;
			clip-path: polygon(100% 0, 0 100%, 100% 100%);
			z-index: -1;
		}
	}

	div.container {
		div.header-container {
			width: 100%;

			h1 {
				font-size: 72px;
				margin-bottom: 0;
			}

			div.divider {
				width: 100px;
				height: 5px;
				background-color: #00baba;

				@media(max-width: 575px) {
					margin-left: auto;
					margin-right: auto;
				}
			}
		}

		div.row {
			p {
				@media(min-width: 576px) {
					font-size: 18px;
				}
				@media(max-width: 575px) {
					font-size: 16px;
				}
			}
		}
	}
}